[submodule "modules/raspberrypi.org/linux"]
	path = modules/raspberrypi.org/linux
	url = https://github.com/raspberrypi/linux.git
[submodule "modules/kernel.org/linux"]
	path = modules/kernel.org/linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "modules/raspberrypi.org/tools"]
	path = modules/raspberrypi.org/tools
	url = https://github.com/raspberrypi/tools.git
