[submodule "modules/linux"]
	path = modules/linux
	url = https://github.com/raspberrypi/linux.git
[submodule "modules/tools"]
	path = modules/tools
	url = https://github.com/raspberrypi/tools.git
[submodule "modules/firmware"]
	path = modules/firmware
	url = https://github.com/raspberrypi/firmware.git
